.votes button {
    border: none;
    background: none;
}

.votes {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

.comment {
    display: inline-flex;
}

.nav-item {
    color: #7a7a7a;
    margin-top: 10px;
}

.nav button {
    border: none;
    background: none;
    padding: 9px 10.5px;
    display: flex;
    justify-content: center;
    line-height: 21px;
}

.nav button:hover {
    color: #363636;
}

.answer-body {
    display: inline-flex;
}

.box {
    background-color: #f7f7f7;
}

.media .box {
    border-top: none;
    background-color: #eaeaea;
}

#best-answer-box {
    background-color: #d0ffd0;
}

#login-box {
    margin-top: 50px;
}