.votes button {
    border: none;
    background: none;
}

.votes {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

.comment {
    display: inline-flex;
}

.nav-item {
    color: #7a7a7a;
    margin-top: 10px;
}

.nav button {
    border: none;
    background: none;
    padding: 9px 10.5px;
    display: flex;
    justify-content: center;
    line-height: 21px;
}

.nav button:hover {
    color: #363636;
}