.votes button {
    border: none;
    background: none;
}

.votes {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

.comment {
    display: inline-flex;
}

.upvoted {
    color: #23d160;
}

.downvoted {
    color: tomato;
}