<div class="columns is-vcentered" id="login-box">
  <div class="column is-4 is-offset-4">
    <% if @errors %>
      <%= erb :'_error', locals: { errors: @errors } %>
    <% end %>
    <h1 class="title">Login</h1>
    <div class="box">
    <form class="login-form" method="post" action="/sessions">
      <label for="email" class="label">Email</label>
      <p class="control">
        <input type="email" class="input" name="email" placeholder="yibin@yibin.com">
      </p>
      <label for="password" class="label">Password</label>
      <p class="control">
        <input type="password" class="input" placeholder="●●●●●●●" name="password">
      </p>
      <p class="control">
        <button class="button is-primary" type="submit">Login</button>
      </p>
    </form>
    </div>
  </div>
</div>
