<container class='login'>

<% if @errors %>
  <%= erb :'_error', locals: { errors: @errors } %>
<% end %>

  <form class="login-form" method="post" action="/sessions">
    <label>Email:</label><br>
    <input id="email" type="email" name="email" /><br>
    <label>Password:</label><br>
    <input id="password" type="password" name="password" /><br>
    <input type="submit" value="submit"/>
  </form>
</container>
