<div class="columns">
  <div class="column is-10 is-offset-1">
  <h3>Post an answer</h3>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <form action="<%= url %>" method="post">
            <p class="control">
              <textarea class="textarea" name="body" placeholder="Add an answer...">
                <%= @answer.try(:body) %>
              </textarea>
            </p>
            <p class="control">
              <button type="submit" class="button is-info">Post Answer</button>
            </p>
          </form>
        </div>
      </article>
    </div>
  </div>
</div>