<h3>Comments:</h3>
<% comments.each do |comment| %>
  <div class="comment" >
    <%= erb :'_vote', locals: { url: "/comments/#{comment.id}/vote", score: comment.score } %>
    <p><%= comment.body %></p>
  </div>
<% end %>

<% if logged_in? %>

<form action="<%= url %>" method="post">
  <input type="text" name="body" placeholder="Enter a comment">
  <input type="submit"  value="Post comment">
</form>

<% end %>
