 <div class="votes">
    <% if logged_in? %>
      <form action="<%= "#{url}" %>" method="POST">
        <button type="submit" value="1" name="value">
          <span class="icon">
            <i class="fa fa-caret-up" aria-hidden="true" title="Upvote"></i>
          </span>
        </button>
      </form>
      <span class="vote-score"><%= score %></span>
      <form action="<%= "#{url}" %>" method="POST">
        <button type="submit" value="-1" name="value">
          <span class="icon">
            <i class="fa fa-caret-down" aria-hidden="true" title="Downvote"></i>
          </span>
        </button>
      </form>
    <% end %>
 </div>